.labelBlue {
	padding: 10px;
	margin:0px;
	color:#fff;
	font-weight: 600;
	background: #b6d1f2; text-shadow: 0 1px 0 #aecef4;
}
.labelRed {
	padding: 10px;
	margin:0px;
	color:#fff;
	font-weight: 600;
	background: #f7a1a1; text-shadow: 0 1px 0 #f2abab;
}
.labelGreen {
	padding: 10px;
	margin:0px;
	color:#fff;
	font-weight: 600;
	background: #ade8a1; text-shadow: 0 1px 0 #b6e1ad;
}
.labelOrange {
	padding: 10px;
	margin:0px;
	color:#fff;
	font-weight: 600;
	background: #f8cd92; text-shadow: 0 1px 0 #f0cd9d;
}
.labelYellow {
	padding: 10px;
	margin:0px;
	background: #f8cd92;
	text-shadow: 0 1px 0 #f0cd9d;
	color:#fff;
	font-weight: 600;
}
.labelPink {
	padding: 10px;
	margin:0px;
	color:#fff;
	font-weight: 600;
	background: #f49ed8; text-shadow: 0 1px 0 #f0a8d9;
}
.labelPurple {
	padding: 10px;
	margin:0px;
	color:#fff;
	font-weight: 600;
	background: #e1a1ef; text-shadow: 0 1px 0 #d7a4e2;
}
.labelGray {
	padding: 10px;
	margin:0px;
	color:#fff;
	font-weight: 600;
	background: #bbb; text-shadow: 0 1px 0 #aaa;
}
.labelBlack {
	padding: 10px;
	margin:0px;
	color:#fff;
	font-weight: 600;
	background: #555; text-shadow: 0 1px 0 #444;
}
.modalHeaderBlue {
	background: #b6d1f2;
  text-shadow: 0 1px 0 #aecef4;
}
.modalHeaderRed {
	background: #f7a1a1;
  text-shadow: 0 1px 0 #f2abab;
}
.modalHeaderGreen {
	background: #ade8a1;
  text-shadow: 0 1px 0 #b6e1ad;
}
.modalHeaderOrange {
	background: #f8cd92;
  text-shadow: 0 1px 0 #f0cd9d;
}
.modalHeaderYellow {
  background: #f8cd92;
  text-shadow: 0 1px 0 #f0cd9d
}
.modalHeaderPink {
	background: #f49ed8;
  text-shadow: 0 1px 0 #f0a8d9;
}
.modalHeaderPurple {
	background: #e1a1ef;
	text-shadow: 0 1px 0 #d7a4e2
}
.modalHeaderGray {
	background: #bbb;
  text-shadow: 0 1px 0 #aaa;
}
.modalHeaderBlack {
	background: #555;
  text-shadow: 0 1px 0 #444;
}
.modalHeaderTitle {
	color: #fff;font-size: 18px;font-weight: 600;
}

.panelSearch {
	text-align: right;
	padding:5px;
}

.iconStatus {
	position:absolute;
	right:20px;
	top:2px;
	font-size:18px;
}

.messageError {
	font-size:12px;
	padding-top:5px;
	color:red;
  position: absolute;
  right: 45px;
  top: 0px;
  font-style: italic;
}
